video.container-fluid {
	padding: 0;
	filter: grayscale(50%);
}

.overlay-heading {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	gap: 1em;
}

.overlay-heading > p {
	text-align: center;
	font-size: 1.4em;
}

.overlay-heading > h1 {
	text-align: center;
	font-size: 5em;
	max-width: 15ch;
	margin: 0 auto;
}

button.link-facharbeit {
	font-size: 1.8em;
	padding: 0.5em 1em;
	width: 7em;
	margin: 0 auto;
	border-radius: 0.3em;
	border: 0;
	background-color: #f3f4f47f;
	color: var(--fontBlack);
}
.source {
	color: var(--fontWhite);
	font-size: 0.8em;
}

.one {
	background-color: rgba(0, 0, 0, 0.96);
}

.two {
	background-color: var(--fontWhite);
	padding: 10em 0;
}

.two .d-flex {
	width: 80%;
	gap: 2em;
	margin: 0 auto;
	flex-direction: row;
}

.two strong {
	color: var(--fontBlack);
}

.two h2 {
	color: var(--fontBlack);
	font-size: 2.5em;
	max-width: 60ch;
}

.two p {
	font-size: 1.4em;
	color: var(--fontBlack);
	text-align: justify;
	max-width: 60ch;
}

.three {
	background-color: var(--fontBlack);
}

.grid-container {
	width: 60%;
	margin: 0 auto;
	padding: 10em 0;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
	gap: 4em;
}

.grid-item {
	width: 100%;
	height: 35em;
	overflow: hidden;
}

.grid-item .background-image {
	height: 100%;
	width: 100%;
	transition: all 0.5s;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	filter: grayscale(30%);
}

.image-container {
	width: 100%;
	height: 90%;
	overflow: hidden;
}

.background-image.one {
	background-image: url("../assets/server.jpg");
}

.grid-item:hover .background-image,
.grid-item:focus .background-image {
	transform: scale(1.1);
}

.grid-item .source {
	color: var(--fontWhite);
}

.text-grid-item {
	position: relative;
	top: -50%;
	background-color: var(--fontBlackMuted);
	color: var(--fontWhite);
	height: 50%;
	display: flex;
	flex-direction: column;
	padding: 1em;
}

.text-grid-item {
	text-align: justify;
}

.background-image.two {
	background-image: url("../assets/licht.jpg");
}

.background-image.three {
	background-image: url("../assets/crash.jpg");
}

.three > h2 {
	font-size: 4em;
	text-align: center;
	padding-top: 3em;
}

.four {
	background-color: var(--fontPink);
	color: var(--fontBlack);
}

.four-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 4em;
	width: 60%;
	margin: 0 auto;
	padding: 4em 0;
}

.four-grid > h2 {
	grid-area: 1 / 1/ 2 / 3;
	color: var(--fontBlack);
	font-size: 4em;
	text-align: center;
}

.four img {
	width: 100%;
	max-height: 90%;
	object-fit: cover;
}

.four .source {
	color: var(--fontBlack);
}

.four h4 {
	font-size: calc(10px + 1.625em);
	color: var(--fontBlack);
}

.four p {
	font-size: calc(10px + 0.625em);
	color: var(--fontBlack);
	text-align: justify;
}

@media (max-width: 1200px) {
	html {
		font-size: 12px;
	}

	video.container-fluid {
		height: 100vh;
		object-fit: cover;
	}

	.four-grid {
		width: 80%;
	}
}

@media (max-width: 1000px) {
	html {
		font-size: 10px;
	}

	.two .d-flex {
		flex-direction: column;
	}

	.four-grid {
		grid-template-columns: 1fr;
	}

	.four-grid > h2 {
		grid-area: 1 / 1 / 2 / 2;
	}
}
