video.container-fluid {
	padding: 0;
}

.overlay-heading {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	gap: 1em;
}

.overlay-heading > p {
	text-align: center;
	font-size: 1.4em;
}

.overlay-heading > h1 {
	text-align: center;
	font-size: 5em;
	max-width: 15ch;
	margin: 0 auto;
}

button.link-facharbeit {
	font-size: 1.8em;
	padding: 0.5em 1em;
	width: 7em;
	margin: 0 auto;
	border-radius: 0.3em;
	border: 0;
	background-color: #f3f4f47f;
	color: var(--fontBlack);
}

@media (max-width: 1200px) {
	.overlay-heading {
		font-size: 12px;
	}

	video.container-fluid {
		height: 100vh;
		object-fit: cover;
	}
}

@media (max-width: 1000px) {
	.overlay-heading {
		font-size: 10px;
	}
}
