section {
	width: 100%;
}

.section-one > div {
	width: 80%;
	margin: 5em auto;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: calc(10px + 1vw);
}

.text-eyecatcher {
	display: flex;
	justify-content: center;
	align-items: center;
}

.text-eyecatcher > span {
	font-size: calc(4em + 5vw);
	text-align: center;
	position: relative;
	font-weight: 300;
}

.eyecatcher-description {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: var(--fontSizeLargeText);
}

.img-container {
	width: 100%;
}

.img-container > img {
	width: 100%;
}

.img-container aside {
	font-size: var(--fontSizeSource);
	font-weight: 400;
}

.text-container h3 {
	margin-top: 0;
	font-size: var(--fontSizeMedium);
	vertical-align: text-top;
}

.text-container p {
	font-size: var(--fontSizeText);
	margin: 0 auto;
	max-width: 60ch;
	text-align: justify;
}

.grid-container {
	grid-area: 3 / 1 / 4 /3;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
	gap: calc(10px + 1vw);
}

.grid-element {
	overflow: hidden;
}

.background-image {
	overflow: hidden;
	width: 100%;
	height: 100%;
	background-position: center;
	background-size: cover;
	transition: all 0.15s ease-in-out;
	z-index: -2;
	filter: brightness(0.8);
}

.background-image:hover {
	transform: scale(1.1);
}

.background-image.one {
	background-image: url("../assets/wallStreetGirl.jpg");
}

.text-overlay {
	position: absolute;
	width: inherit;
}

@media (max-width: 1100px) {
	.section-one > div {
		grid-template-columns: 1fr;
		width: 70%;
	}
}
