* {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
		Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
		sans-serif;
	box-sizing: border-box;
}

:root {
	--heading-big-mobile: calc(1em + 2vw);
	--backgroundMuted: #f3f4f47f;
	--mutedBlack: rgba(0, 0, 0, 0.9);
	--fontSizeSource: calc(8px + 0.5vw);
	--fontSizeText: calc(1em + 0.5vw);
	--fontSizeLargeText: calc(1.5em + 0.5vw);
	--background: #f3f4f4;
	--darkFont: #1e1e1e;
}

html,
body {
	width: 100%;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	color: var(--darkFont);
	background-color: var(--background);
}
