:root {
	--fontBlack: #1e1e1e;
	--fontBlackMuted: #1e1e1e85;
	--fontBlackActive: #292c2f;
	--fontWhite: #f3f4f4;
	--fontWhiteActive: #fff;
}

* {
	font-family: "Canela Deck Web";
	color: var(--fontWhite);
}
